* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1E1E1E;
}

header {
    width: 100vw;
    height: 100vh;
    background: url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: black;
    opacity: 60%;
    padding: 20px;
    top: 0;
    justify-content: center;
}

.nav-link {
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 20px;
    position: relative;
}

.home-title {
    display: block;
    padding: 100px 100px 10px;
}

.home-title > h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.home-title > h2 {
    color: white;
    font-size: 3rem;
}

.home-title > span {
    padding: 20px;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.home-description {
    padding: 0px 120px;
    color: white;
    font-size: 1rem;
}

.btn {
    background-color: white;
}